%h1 Listing events

%table
  %thead
    %tr
      %th Title
      %th Start year
      %th End year
      %th Location
      %th Category
      %th Size
      %th Published
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.start_year
        %td= event.end_year
        %td= event.location
        %td= event.category.name if event.category
        %td= event.size
        %td= event.published
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
