%p#notice= notice
= raw @event.title
%p
  = @event.start_year
  = ?-
  =@event.end_year
= raw @event.content
%p
  %b Source:
  = @event.source
%p
  %b Location:
  = @event.location
%p
  %b Category:
  = link_to @event.category.name, @event.category if @event.category
%p
  %b Size:
  = @event.size

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
